

<div class="container">
    <div class="row text-center">
        <form asp-controller="QRSend" asp-action="Send" method="post">
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
</div>